<!-- Footer -->
<footer>
  <div class="test-network-disclaimer">
    This site is for demo purpose only, data are frequently cleaned-up.
  </div>
  <ul class="links">
    <li>
      <a href="https://unik-name.com">
        Unikname
      </a>
    </li>
    <li>
      <a href="https://docs.unik-name.com">
        Unikname documentation
      </a>
    </li>
    <li>
      <a href="https://docs.unik-name.com/integration/">
        Unikname Connect examples
      </a>
    </li>
  </ul>
</footer>
