<!-- Footer -->
<footer>
  <div class="test-network-disclaimer">
    This site is for demo purpose only, data are frequently cleaned-up.
  </div>
  <ul class="links">
    <li>
      <a href="https://unik-name.com">
        @unik-name.com
      </a>
    </li>
    <li>
      <a href="https://unik-name.com">
        @unik-name Connect
      </a>
    </li>
    <li>
      <a href="http://developer.unik-name.com/examples.html">
        Examples
      </a>
    </li>
    <li>
      <a href="http://developer.unik-name.com/showcases">
        Showcases
      </a>
    </li>
  </ul>
</footer>
