<form action="/create" method="post">
  <div>
    <label>username:</label>
    <input type="text" name="username" /><br />
  </div>
  <div>
    <label>first name:</label>
    <input type="text" name="firstName" /><br />
  </div>
  <div>
    <label>last name:</label>
    <input type="text" name="lastName" /><br />
  </div>
  <div>
    <label>email:</label>
    <input type="email" name="email" /><br />
  </div>
  <div>
    <label>phone:</label>
    <input type="phone" name="phone" /><br />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>
