<%- include partials/dependencies.ejs %>
<%- include partials/navigation.ejs %>

<!-- Content -->
<div class="container content flex-fill d-flex flex-column">
  <div class="row">
    <div class="col-12 col-md-7 col-xl-6">
      <h2>Store your customized message</h2>
      <p>
        This is a demo site that allow you to sign-up and sign-in with your @unik-name.
        For the demo this site allows you to store a customized message within your Platform101 account.
      </p>
    </div>
    <div class="col-12 col-md-5 col-xl-4 offset-xl-2">
      <div class="card">
        <div class="card-header">
          Demo Authentication Mode
        </div>
        <div class="card-body">
          <h5 class="card-title">Every time authentication</h5>
          <p class="card-text">PIN code is required for sign-up but also for every sign-in.</p>
          <a href="#">See other mode</a>
        </div>
      </div>
    </div>
  </div>
  <% if (!user) { %>
  <div class="row lets-go align-items-center justify-content-center">
    <div class="col-12">
      <h4 class="text-center">Let's go!</h4>
      <div class="buttons">
        <a href="/login" class="btn btn-primary btn-wide">
          <img src="./images/unikname-connect.png" alt="unik-name connect logo" />
          Connect
        </a>
      </div>
    </div>
  </div>
  <% } %>
</div>

<%- include partials/footer.ejs %>