<% if (!user) { %>
	<p>Welcome! Please</p>
		<div><a href="/login">log in</a></div>
		<div><a href="/login/github">Log In with github</a></div>
		<div><a href="/login/unikname">Log In with Unik-Name</a></div>

<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>
