<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
/>

<div class="container">
  <nav class="menu">
    <div>
      <h1>My sample application</h1>
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <% if (user) { %>
      <li><a href="/profile">👨 My Profile</a></li>
      <% } %>
    </ul>
  </nav>
  <div class="main-container">
    <% if (!user) { %>
    <h2>Login</h2>
    <div class="login content">
      <div>
        <p>Welcome! Please login with:</p>
      </div>
      <% if (process.env.CAS_PASSPHRASE_ENABLED === "true") { %>
      <h3>1FA</h3>
      <% } %> <% if (process.env.CAS_PASSPHRASE_ENABLED === "true") { %>
      <div class="login-link">
        <a href="/login/unikname-cas-passphrase">Unik-Name PASSPHRASE</a>
      </div>
      <% } %> <% } else { %>
      <h2>
        Login success
      </h2>
      <div class="logged content">
        <p>Hello, <span class="username"><%= user.username %></span></p>
        <a class="profile-link" href="/profile"> View your profile</a>
        <% } %>
      </div>
    </div>
    <footer>
      <a class="se-link" href="https://www.spacelephant.org" target="_blank"
        >spacelephant.org</a
      >
    </footer>
  </div>
</div>
