  <link href="/css/style.css" rel="stylesheet" type="text/css" />
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
  rel="stylesheet"
/>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

<div class="container">
    <% if (user) { %>
      <nav class="menu colored">
    <% } else { %>
      <nav class="menu">
    <% } %>
    <div>
        <a class="home-link" href="/">
          <h1>My sample application</h1>
        </a>
    </div>
    <ul>
        <ul>
            <% if (user) { %>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a class="hello" href="/profile"><i class="fas fa-user"></i> <%= user.username %></a></li>
            <li><a class="logout-link" href="/signout">Logout</a></li>
            <% } else { %>
              <li><a href="/login">Login</a></li>
            <% } %>
          </ul>
    </ul>
  </nav>
  <div class="main-container">
      <% if (!user) { %>
        <div class="login content">
          <h3>CONNECT</h3>
          <% if (mode && mode.social) { %>
          <div class="login-link">
            <div class="facebook" href="/login">
              <i class="fab fa-facebook-f"></i>
              <span>
                With Facebook
              </span>
            </div>
          </div>
          <div class="login-link">
            <div class="google" href="/login">
              <i class="fab fa-google"></i>
              <span>
                With Google
              </span>
            </div>
          </div>
          <% } %>
          <% if (process.env.CAS_PASSPHRASE_ENABLED === "true") { %>
          <div class="login-link">
            <a class="unik-name" href="<%= casPassphraseRedirectURI %>">
                <img class="unik-name-logo" src="/images/unik-name.png"/>
                <span>
                  With Unik-Name</a>
                </span>
            </a>
          </div>
          <% } %>
          <% if (mode && mode.emailpwd) { %>
            <div class="or-container">
              <span class="trait"></span>
              <span class="or">
                OR
              </span>
              <span class="trait"></span>
            </div>

            <div class="inputs">
              <input type="email" placeholder="EMAIL"/>
              <input type="password" placeholder="PASSWORD"/>
            </div>

            <div class="login-link">
                <div class="with-email" href="#">With your email</div>
            </div>
          <% } %>
        <% } else { %>
        <h2>
          Login success
        </h2>
        <div class="logged content">
          <p>Hello, <span class="username"><%= user.username %></span></p>
          <a class="profile-link" href="/profile"> View your profile</a>
          <% } %>
        </div>

  </div>
  <footer>
    <a class="se-link" href="https://www.spacelephant.org" target="_blank"
      >spacelephant.org</a
    >
  </footer>
</div>
