body {
  height: 100vh;
  background: linear-gradient(0.9turn, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(/images/univers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000537;
  color: #fff;
  border-bottom: 1px solid #fff;
}

nav h1 {
  font-size: 1.5em;
  margin: 0 0 0 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background: #000537;
  color: #fff;
  border-top: 1px solid #fff;
}

footer .se-link,
footer .se-link:active,
footer .se-link:hover,
footer .se-link:visited {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  color: #fff;
}

.content {
  color: #808291;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container .main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .main-container .description {
  font-size: 1.5em;
}

.container .main-container .login {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #f3f6fd, #fff);
  box-shadow: 0 0 10px 0px #fff;
  border-radius: 5px;
  width: 50%;
  padding: 2rem 1rem;
  align-items: center;
}

.container .main-container .login .login-link {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.container .main-container .informations a,
.container .main-container .logged .profile-link,
.container .main-container .login .login-link a {
  background-color: #ffa407;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  transition: font-weight 0.2s linear;
}

.container .main-container .informations a:hover,
.container .main-container .logged .profile-link:hover,
.container .main-container .login .login-link a:hover {
  font-weight: bold;
}

.container .main-container .informations,
.container .main-container .logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #f3f6fd, #fff);
  box-shadow: 0 0 10px 0px #fff;
  padding: 2rem;
  width: 50%;
}

.container .main-container .logged .description {
  margin-top: 0px;
}

.container .main-container .logged .username {
  font-weight: bold;
}

.container .main-container .informations ul {
  text-align: left;
  width: 100%;
  padding-left: 20%;
  list-style: none;
}

.container .main-container .informations ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2em;
}

.container .main-container .informations ul li label {
  font-weight: bold;
}

.container .main-container .informations ul li .value {
  font-style: italic;
}

@media screen and (min-width: 1200px) {
  .container .main-container .informations,
  .container .main-container .logged,
  .container .main-container .login {
    width: 40%;
  }
}

@media screen and (min-width: 1600px) {
  .container .main-container .informations,
  .container .main-container .logged,
  .container .main-container .login {
    width: 30%;
  }
}
